  .navbar {
    background-color: #333;
    overflow: hidden;
    margin: auto;
    width: 30%;
    padding: 5px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover{
    background-color:rgb(0, 95, 133);
  }

  .button {
    background-color: rgb(0, 95, 133);
    border: solid 2px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin-left: 830px;
    margin-top: 10px;
    cursor: pointer;
  }